{% include base_path %}

<!-- FluidSim Lab identity -->
<link rel="icon" href="{{ base_path }}/images/favicon.svg" type="image/svg+xml">
<link rel="icon" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="apple-touch-icon" href="{{ base_path }}/images/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="#0b2745">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">

{% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "all" } },
      tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true }
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML" async></script>
{% endif %}
